---
const { Titledev } = Astro.props;
---
<section class="relative flex justify-center items-center w-full bg-transparent">
    <h1
      class="text-4xl md:text-1xl font-bold text-white text-center
             bg-white/10 backdrop-blur-md border border-white/10 rounded-2xl
             px-8 py-4 shadow-lg"
    >
      {Titledev}
    </h1>
  </section>