---
import Navbar from '../components/Navbar.astro';
import Title from '../components/Title.astro';
import Carrousel from '../components/Carrousel.astro';
import HeroImadev from '../components/HeroImadev.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';


import "../styles/global.css";

const cards= [
  {
    title: "BarberWeb",
    description: "Página web para tu barbería.",
    image: "/images/barber_web.svg",
    link: "https://barberwebimanolcab.netlify.app/",
  },
  {
    title: "FoodWeb",
    description: "Página web para tu negocio de venta de comida.",
    image: "/images/food_web.svg",
    link: "https://webrestaurantimanolcab.netlify.app/",
  },
  {
    title: "StoreWeb",
    description: "Página web para tu negocio de venta de ropa.",
    image: "/images/store_web.svg",
    link: "https://webshoesimanolcab.netlify.app/",
  },
  {
    title: "MovieWeb",
    description: "Página web de peliculas y series.",
    image: "/images/movie_web.svg",
    link: "https://paginadereck.netlify.app/",
  },
];



---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/images/logo_ima_web.svg"/>

  
		<meta name="generator" content={Astro.generator} />
		<title>Imadev</title>
	</head>
  <body class="min-h-screen bg-[#03134e]">
<Navbar/>
<HeroImadev/>
<Carrousel  {cards} />
<Contact/>
<Footer/>

	
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
